.HrefButton {
    background-color: rgba(0,0,0,0);
    display: inline;
    border-width: 0;
    color: #61dafb;
}

.HrefButton:hover, .HrefButton:active, .HrefButton:focus {
    outline: 0;
}

.HrefButton:hover {
    text-decoration: underline;
}